Django==2.2.28                  ; python_version < '3.11'
Django==3.2.24                  ; python_version >= '3.11'
coverage==7.0.5                 ; python_version < '3.11'
coverage==7.4.1                 ; python_version >= '3.11'
pytest-cov==4.0.0               ; python_version < '3.11'
pytest-cov==4.1.0               ; python_version >= '3.11'

# don't use -e, since this package is published to PyPI from github actions
dk
