coverage==7.13.5               ; python_version < '3.12'
coverage==7.15.4               ; python_version >= '3.12'
Django==3.2.24                 ; python_version < '3.12'
Django==4.2.30                 ; python_version >= '3.12'
-e ../dk
pytest-cov==7.1.0

